  <a href="/artist/{{id}}">
  <div class="ui fluid card">
      <div class="image" >
        <img src="https://play-lh.googleusercontent.com/IeNJWoKYx1waOhfWF6TiuSiWBLfqLb18lmZYXSgsH1fvb8v1IYiZr5aYWe0Gxu-pVZX3">
        {{!-- replace with {{user_image}} for demo --}}
      </div>
      <div class="content">
        <a class="header">{{name}}</a>
        <p>{{socials}}</p>
      </div>
 </div>
</a>
