<label class="box" for="item-1" id="song-1">
<img src="https://i.scdn.co/image/ab67616d0000b27358c111a12b5a9afa5292c389" alt="song">
</label>
<label class="box" for="item-2" id="song-2">
<img src="https://i.scdn.co/image/ab67616d0000b273405c4faca55dd18abaee8ad4" alt="song">
</label>
<label class="box" for="item-3" id="song-3">
<img src="https://i.scdn.co/image/ab67616d0000b2739325474f0906d384d9496c0b" alt="song">
</label>