<section>
<div class="ui card">
    <div class="card">
        <div class="image">
        <img src="/images/avatar2/large/matthew.png">
        </div>
        <div class="content">
        <div class="header">Event Here</div>
        <div class="meta">
            <a>Address Here</a>
        </div>
        <div class="description">
            Matthew is an interior designer living in New York.
        </div>
        </div>
    </div>
</div>
</section>

<section>
{{ event_name }}<br>
{{ date }}<br>
{{ content }}<br>
{{ artist_name }}<br>
</section>