{{! This is where we will put the main static layout for webpage
We will add other handlebars files in main folder for each page.
We will also use partials folder for partials }}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bandwagon</title>
    <script
      src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"
    ></script>
    {{! <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="../../public/css/style.css"> }}
  </head>
  <nav>
    <h1>Bandwagon</h1>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/events">Events</a></li>
      <li><a href="/dashboard">Dashboard</a></li>
      <li><a href="/profile">Profile</a></li>
      {{! GY: Same goes for profile because we need to use the logged in user's id as well}}

      <li><a href="/login">Log In</a></li>
      <li><a href="/signup">Sign Up</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/genres">Artist by Genre</a></li>
    </ul>
  </nav>
  <body>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>All rights reserved. 2023.</p>
    </footer>
    {{!-- <script src="{{{ jsfile }}}"></script> --}}
    <!-- You MUST include jQuery before Fomantic -->
    {{! <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<script src="../../semantic/dist/semantic.min.js"></script> }}
  </body>
</html>