{{! This is where we will put the main static layout for webpage
We will add other handlebars files in main folder for each page.
We will also use partials folder for partials }}

<html lang="en">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bandwagon</title>

    <link rel="stylesheet" href="../../public/css/normalize.css">
    <link rel="stylesheet" href="../../public/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"
    ></script>
    <link rel="stylesheet" type="text/css" href="../../semantic/dist/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
    </head>
  <body>
    <nav class="ui pointing menu">
    <div class="left menu">
      <h1 class="item">BANDWAGON</h1>
    </div>
    {{!-- <ul class="right menu"> --}}
    <div class="right menu">
      <li class="item"><p><a href="/">Home</a></p></li>
      <li class="item"><a href="/events">Events</a></li>
     
      {{! GY: Same goes for profile because we need to use the logged in user's id as well}}
      
      <li class="item"><a href="/genres">Artist by Genre</a></li>
    {{#if loggedIn}}
        <li class="item"><a href="/dashboard">Dashboard</a></li>
        <li class="item"><a href="/profile">Profile</a></li>
        <li class="item"><a href="/logout">Logout</a></li>
    {{else}}
        <li class="item"><a href="/login">Log In</a></li>
        <li class="item"><a href="/signup">Sign Up</a></li>
    {{/if}}

    </div>
    {{!-- </ul> --}}
  </nav>
    <main>
      {{{body}}}
    </main>
    <footer>
      <p>All rights reserved. 2023.</p>
    </footer>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="js/{{ jsFile }}"></script>
  </body>
</html>