<section>
    <h1>Dashboard Page</h1>

    <div id="eventfeed"></div>
    <div id="createevent"></div>
    <div id="sidebar"></div>

</section>

{{!-- Event cards for specific artist by User --}}
{{!-- Form to create new event + create event button --}}