
<div class="ui segment">
  <div class="ui active dimmer" id="event_dimmer">
    <div class="ui text loader">Loading</div>
  </div>
<section>
    <h1>Dashboard</h1>
    <div id="sidebar"></div>
<div class="ui grid">
<div id="form-div" class="four wide column">
   <h2>Got an event coming up? Give us the details!</h2>
   <form {{!--action="/dashboard" method="POST"--}} class="ui form">
   <div class="field">
      <label>Name of Event</label>
      <input 
         type="text" 
         name="event_name"
         id="event_name" 
         placeholder="Name of Event"
         >
   </div>
   <div class="field">
  <label for="event_date">Date</label>
      <input 
      type="date" 
      name="date"
      id="event_date"
      >
    <label for="time">Time</label>
      <input 
      type="time" 
      name="time"
      id="time"
      >
   </div>
   <div class="field">
      <label>Location</label>
      <input 
         type="text" 
         name="address" 
         id="address"
         placeholder="Location/Address">
   </div>
   <div class="field">
      <label>Information About Event</label>
      <input 
      type="text" 
      name="content" 
      id = "content"
      placeholder="Event Details">
   </div>
     <div class="ui file input">
      <input type="file" id="event_picture" name="event_picture" />
    </div>
    <br>
    <br>
   <button class="ui button" type="submit" id="createEventButton">Submit</button>
   </form>
</div>
<div id="event-div" class="ui twelve wide column">
   <div class="ui four column grid">
   <div id="eventfeed" class="row">  
        {{#each events}}
        <div class="column">
        {{> eventcard}}
        </div>
        {{/each}}
   </div>
   </div>
</div>
</div>   
</section>
</div>