<section>
    <h1>Dashboard Page</h1>
    <div id="sidebar"></div>
    <div id="eventfeed"></div>
    <div id="create-event"><button>Create Event</button></div>
</section>

{{!-- Event cards for specific artist by User --}}
{{!-- Form to create new event + create event button --}}
{{!-- Create event button will have to be able to trigger the post request.
            --}}