{{!-- Can use this as a template for partials functionality --}}
<section>
    <h1>All Events</h1>
    <h3>See everything that's happening near you.</h3>
    <div id="event-cards">
        {{#each events}}
        {{> eventcard}}
        {{/each}}
    </div>
    <p><a href="/">Return Home</a></p>
</section>
