
    <h1>Discover new artists!</h1>
<div id="genre-cards" class="ui stackable grid container">
    <div id="genre-cards" class="ui stackable grid container">

    {{#each genres}}
        <div class="four wide column">
        {{> genrecard}}
        </div>
    {{/each}}
</div>
