<section>
    <div id="genre-cards">Genre Cards Go Here</div>
</section>

{{!--Inserting genre name on the cards--}}
{{!-- I think we might need one more handlbars file to show the artists 
after you click on the genre --}}