<div id="genre-banner-div"><h1 id="genre-name">{{genre.name}}</h1><img src="{{genre.banner}}" id="genre-banner"></div>
    <div id="artist-cards" class="ui grid stackable container">
{{#each artists}}
<div class="four wide column">
{{>artistcard}}
</div>
{{/each}}
</div>
</div>