
=======

    <h1>Discover new artists!</h1>
<div id="genre-cards" class="ui four stackable cards grid">
    {{#each genres}}
        <div class="four wide column flexy">
        {{> genrecard}}
        </div>
    {{/each}}
</div>

