<div>
{{!-- Image for banner --}}
<img src="{{genre.image}}"> 
<h1>{{genre.name}}</h1>
    <div id="artist-cards" class="ui grid container">
{{#each artists}}
<div class="four wide column">
{{>artistcard}}
</div>
{{/each}}
</div>
</div>