<section>
    <h1>Check out events happening today! <span id="todays-date"></span></h1>
    <div id="map" class="ui container segment">
        <iframe
        width="100%"
        height="450"
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDG2GS4Snd66r_9AHSP_Ox3bSi1wzSIlDA
            &q=Chicago+IL">
        </iframe>
    </div>
    <br>
    <br>
    <div>
        <div id="event-cards" class="ui grid container">
            {{#each events}}
            <div class="four wide column">
            {{> eventcard}}
            </div>
            {{/each}}
        </div>
    </div>
</section>