<section>
    <h1>Check out events happening today! <span id="todays-date"></span></h1>
    <div id="map" class="ui container segment"></div>
    <script>
        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 41.8781, lng: -87.6298 },
                zoom: 11
            });
            addMarker({lat:41.880650,lng:-87.675140});
            addMarker({lat:42.049450,lng:-87.678130});
            
            function addMarker(coords) {
                const marker = new google.maps.Marker({
                position: coords,
                map: map
            });
        }
        }
            
        windows.initMap = initMap;
    </script>
    <script async defer
        src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyAUT-2fodGqnRZYiU7JIocjVSidEhRnOIQ&callback=initMap">
    </script>
    <br>
    <br>
    <div>
        <div id="event-cards" class="ui stackable grid container">
            {{#each events}}
            <div class="four wide column">
            {{> eventcard}}
            </div>
            {{/each}}
        </div>
    </div>
</section>

{{!-- <script src="./js/Map.js"></script> --}}

{{!-- AIzaSyAUT-2fodGqnRZYiU7JIocjVSidEhRnOIQ --}}

{{!-- {lat:41.880650,lng:-87.675140}, {lat:42.049450,lng:-87.678130} --}}