<section>
    <h1>Today's Date: <span id="todays-date"></span></h1>
    <div id="map">Map Goes Here</div>
    <div id="event-cards">Event Cards Go Here
            {{!-- {{event cards}} from home fetch route --}}
    </div>
</section>