<section>
    <h1>Today's Date: <span id="todays-date"></span></h1>
    <div id="map">Map Goes Here</div>
    <div id="event-cards">Event Cards Go Here
             {{#each events}}
        {{> eventcard}}
        {{/each}}

    </div>
</section>