<section>
    <h1>Login Page</h1>
    <form action="/login">
        <label for="username">Username</label><br>
        <input type="text" ><br>
        <label for="password">Password</label><br>
        <input type="text" ><br><br>
        <input type="submit" value="submit">
    </form> 
    <a href="/register">Create account.</a>
</section>