{{!-- You can use this as a template for a functional form for creating new --}}

{{!-- <section>
    <h1>Login Page</h1>
    <form action="/login" method="POST"> 
        <label for="username">Username</label><br>
        <input type="text" name ="username"><br>
        <label for="password">Password</label><br>
        <input type="text" name="password" ><br><br>
        <button class="ui primary button" type = "submit">Log in</button>
    </form> 
    <a href="/signup">Create account</a>
</section> --}}

 <h2 class="ui teal header">
      <div class="content">
        Log-in to your account
      </div>
  </h2>

<div class="">
  <div class="ui four column centered grid">
    <div class="column">
    <form class="ui large form login-form" action="/login" method="POST">
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input type="text" name="username" id="username-login" placeholder="Username">
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <input type="password" id="password-login" name="password" placeholder="Password">
          </div>
        </div>
        {{!-- I changed the below div to button so that the login functionality works --}}
        <button type="submit" class="ui fluid large teal submit button">Login</button>
      </div>

      <div class="ui error message"></div>

    </form>

    <div class="ui message">
      New artist? <a href="/signup">Sign Up!</a>
    </div>
    </div>
</div>

{{!-- <script src="/public/js/login.js"></script> --}}