{{!-- Render artist details. Will have to use localhost:3001/artist/101 to test the rendering
because I've made the profile route only accessible after login and to show the specific user's
info --}}
{{!-- Uploading image --}}

<section>
    <div id="artist-image">Image goes here</div>
    <div id="artist-name">{{ name }}</div>
    <div id="artist-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quisquam vel impedit harum quam fugit maiores, assumenda accusantium unde dolores necessitatibus, ipsa nihil optio sit suscipit quas dolorem. Perferendis, laudantium?</div>
    <div id="artist-socials"></div>
</section>

{{!-- Might need a conditional render for edit functionality for only logged in users. --}}