{{!-- Render artist details, GET route with user id --}}
{{!-- The genres associated with the artist --}}
{{!-- Uploading image --}}

<section>
    <div id="artist-image"></div>
    <div id="artist-name">Artist Name Goes Here</div>
    <div id="artist-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi quisquam vel impedit harum quam fugit maiores, assumenda accusantium unde dolores necessitatibus, ipsa nihil optio sit suscipit quas dolorem. Perferendis, laudantium?</div>
    <div id="artist-socials"></div>
</section>